#total {
  padding-top: 50px;
  padding-bottom: 50px;
}
#head {
  padding-left: 25px;
}
#list {
  padding-left: 75px;
}
span {
  cursor: pointer;
}
.number {
  margin: 100px;
}
input {
  height: 34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.sub {
  padding-top: 20px;
  padding-left: 107px;
}
.partner {
  padding-left: 300px;
}
